@page "/"
<div class="main-columns marginTop">
    <div class="row">
        <div class="left-column">
            <!--Left Column content begins-->
            <div class="filter-box">
               
            </div><!--End of filter box-->
        </div><!--Left Column content ends-->

        <div class="right-column">
            <!--Right Column content begins-->
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="/img/img-1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="row">
                            <h5 class="room-category">Entire Place</h5>
                            <!--Ratings-->
                            <div class="ratings">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <!--/Ratings-->
                        </div>
                        <h5 class="card-title">Room 1</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <small class="room-price">$102.40</small>
                            <div class="heart-rate"><span class="glyphicon glyphicon-heart checked-heart"></span></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/img/img-2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="row">
                            <h5 class="room-category">Shared Room</h5>
                            <!--Ratings-->
                            <div class="ratings">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <!--/Ratings-->
                        </div>
                        <h5 class="card-title">Room 2</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <small class="room-price">$70.4</small>
                            <div class="heart-rate"><span class="glyphicon glyphicon-heart"></span></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/img/img-3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="row">
                            <h5 class="room-category">Private Room</h5>
                            <!--Ratings-->
                            <div class="ratings">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <!--/Ratings-->
                        </div>
                        <h5 class="card-title">Room 3</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <small class="room-price">$56.9</small>
                            <div class="heart-rate"><span class="glyphicon glyphicon-heart"></span></div>
                        </div>
                    </div>
                </div>
            </div> <!--End of row one-->
            <div class="card-deck" style="margin-top:20px;">
                <div class="card">
                    <img class="card-img-top" src="/img/img-4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="row">
                            <h5 class="room-category">Private Room</h5>
                            <!--Ratings-->
                            <div class="ratings">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <!--/Ratings-->
                        </div>
                        <h5 class="card-title">Room 4</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <small class="room-price">$84.1</small>
                            <div class="heart-rate"><span class="glyphicon glyphicon-heart checked-heart"></span></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/img/img-5.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="row">
                            <h5 class="room-category">Entire Room</h5>
                            <!--Ratings-->
                            <div class="ratings">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <!--/Ratings-->
                        </div>
                        <h5 class="card-title">Room 5</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <small class="room-price">$53</small>
                            <div class="heart-rate"><span class="glyphicon glyphicon-heart"></span></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/img/img-6.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="row">
                            <h5 class="room-category">Shared Room</h5>
                            <!--Ratings-->
                            <div class="ratings">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <!--/Ratings-->
                        </div>
                        <h5 class="card-title">Room 6</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <small class="room-price">$90.6</small>
                            <div class="heart-rate"><span class="glyphicon glyphicon-heart checked-heart"></span></div>
                        </div>
                    </div>
                </div>
            </div><!--End of row two-->
            <div class="card-deck" style="margin-top:20px;">
                <div class="card">
                    <img class="card-img-top" src="/img/img-3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="row">
                            <h5 class="room-category">Private Room</h5>
                            <!--Ratings-->
                            <div class="ratings">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <!--/Ratings-->
                        </div>
                        <h5 class="card-title">Room 4</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <small class="room-price">$84.1</small>
                            <div class="heart-rate"><span class="glyphicon glyphicon-heart"></span></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/img/img-6.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="row">
                            <h5 class="room-category">Entire Place</h5>
                            <!--Ratings-->
                            <div class="ratings">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <!--/Ratings-->
                        </div>
                        <h5 class="card-title">Room 5</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <small class="room-price">$53</small>
                            <div class="heart-rate"><span class="glyphicon glyphicon-heart"></span></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/img/img-2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="row">
                            <h5 class="room-category">Shared Room</h5>
                            <!--Ratings-->
                            <div class="ratings">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <!--/Ratings-->
                        </div>
                        <h5 class="card-title">Room 6</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <small class="room-price">$90.6</small>
                            <div class="heart-rate"><span class="glyphicon glyphicon-heart"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Right Column content ends-->
        </div>
    </div>
</div>