<div class="topnav">
    <a class="navbar-brand" href="/myproperties">Realbnb</a>
    <div class="search-container">
        <form  action="/upload">
            <input type="text" placeholder="Search listings...." name="search">
            <button class="btn btn-success" href="/upload">Login</button>

        </form>

    </div>
</div>